TEST_ENV=local
BASE_URL=http://127.0.0.1:8000
API_BASE_URL=http://127.0.0.1:8000
ADMIN_PATH=/admin
ADMIN_USERNAME=admin@example.com
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=unopim
DB_USERNAME=root
DB_PASSWORD=
