@font-face {
    font-family: "unopim-shopify";
    src: url("../fonts/shopify.woff?jwnnow") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-shopify {
    font-family: "unopim-shopify" !important;
}
.icon-shopify:before {
    content: "\e900";
}
